@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald|PT+Sans');
/* Enkel CSS-reset */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background: url("images/juskteez-vu-1041-unsplash.jpg");
    background-size: cover;
}

.container {
    width: 1280px;
    font-family: 'PT Sans';
    margin: auto;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 65% 30%;
    grid-template-areas: "header header" "content sidebar" "footer footer";
}

/* Utseende på sidhuvudet */

header {
    color: #FFF;
    grid-area: header;
}

header h1 {
    font-family: 'Abril Fatface';
    font-size: 60px;
}

header h2 {
    font-family: 'Abril Fatface';
    font-size: 24px;
}

header nav {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    border-radius: 10px;
    padding: 5px;
}

header ul {}
    
    header li {
        display: inline-block;
        padding: 5px 15px;
    }
    
    header li a {
        color: #FFF;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }
    
    header li.form {
        float: right;
    }
    
    header input {}
        
        /* Utseend på artikel delen */
        
        main {
            grid-area: content;
        }
        
        main article {
            background: #FFF;
            padding: 20px;
            border-radius: 10px;
            margin: 20px 0;
        }
        
        main h3 {
            font-family: Oswald;
        }
        
        main p.date {}
            
            main img {
                width: 100%;
            }
            
            main p {}
                
                /* Utseende på sidebaren */
                
                aside {
                    grid-area: sidebar;
                }
                
                aside .sidebox {
                    background: #FFF;
                    padding: 20px;
                    border-radius: 10px;
                    margin: 20px 0;
                }
                
                aside .sidebox .picsum {
                    display: grid;
                    grid-template-columns: auto auto auto;
                    grid-gap: 20px;
                }
                
                aside .sidebox h4 {
                    font-family: Oswald;
                    margin-bottom: 20px;
                }
                
                aside .sidebox ul {}
                    
                    aside .sidebox li {}
                        
                        aside .sidebox img {}
                            
                            /* Utseende på sidfoten */
                            
                            footer {
                                grid-area: footer;
                            }
                            
                            footer p {}
                                