@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Krona+One|Oswald');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans utseende */
body {

}
.container {
    width: 900px;
    margin: auto;
    background: #888;
    padding: 50px;
}

/* Sidhuvudets utseende */
header {

}
header h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 70px;
    text-align: center;

}
header nav {
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
header nav ul {
    list-style-type: none;
}
header nav li {
    display: inline;
    padding: 5px;
}
header nav a {
    color: coral;
    text-decoration: none;
}
header nav a:hover {
    color: #ffd17c;
}
header nav a.current {
    color: #ffd17c;
    border-bottom: 2px solid #ffd17c;
}

/* Utseende på sidan sinnehåll */
main {

}
main h2 {
    text-align: center;
}
main figure {
    width: 400px;
    margin: auto;
}
main figure img {
    width: 100%;
}
main figure figcaption {

}
main p {

}

/* Sidfotens utseende */
footer {

}
footer p {

}
